@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand-Light.ttf') format('truetype-variations');
  font-weight: 300;
}
@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand-Regular.ttf') format('truetype-variations');
  font-weight: 400;
}
@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand-Medium.ttf') format('truetype-variations');
  font-weight: 500;
}
@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand-SemiBold.ttf') format('truetype-variations');
  font-weight: 600;
}
@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand-Bold.ttf') format('truetype-variations');
  font-weight: 700;
}